html, body {
   overflow-x: hidden;
   height: 100%;
   width: 100%;
}

.container {
  margin: 0;
  padding: 0;
}

/* Sidebar styles */
#sidebar {
  padding: 0;
}

#sidebar .sidebar-components {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

/* ActionBar styles */
#action-bar {
  background-color: black;
}

#action-bar .action-bar-item {
  margin-top: 10px;
  display: inline-block;
  width: 25%;
  color: white;
  text-align: center;
  font-weight: 500;
  height: 75px;
}

#action-bar .action-bar-item .glyphicon {
  font-size: 2em;
  margin-bottom: 10px;
}

#action-bar .action-bar-item.active {
  border-bottom: 6px solid #0EBFE9;
}

#action-bar .action-bar-item:hover {
  color: #0EBFE9;
}

/* EntryForm styles */
#entry-form {
  /* TODO: Add styles */
}

#entry-form .entry-form-title {
  font-size: 20px;
  font-weight: bold;
}

#entry-form .entry-textarea {
  width: 100%;
}

#entry-form .tags-input {
  width: 70%;
  margin-top: 10px;
}

#entry-form button {
  margin-left: 10px;
}

/* EntryList styles */
#entry-list {
  /* TODO: Add styles */
}

.entry-item-container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.entry-item-container .tag-container {
  margin-top: 15px;
}

.tag-container .entry-tag {
  border: 1px solid black;
  margin: 5px;
  padding: 2px 4px;
}

/* EntryView styles */
#entry-view {
  padding-left: 50px;
  margin-top: 30px;
}

#entry-view .date-text {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

#entry-view .entry-text {
  margin-top: 30px;
}