html, body {
   overflow-x: hidden;
   height: 100%;
   width: 100%;
}

.container {
  margin: 0;
  padding: 0;
}

/* Sidebar styles */
#sidebar {
  /* TODO: Add styles */
}

#sidebar .sidebar-components {
  list-style: none;
  padding: 0;
}

/* EntryForm styles */
#entry-form {
  /* TODO: Add styles */
}

#entry-form .entry-form-title {
  font-size: 20px;
  font-weight: bold;
}

#entry-form .entry-textarea {
  width: 100%;
}

#entry-form .tags-input {
  width: 70%;
  margin-top: 10px;
}

#entry-form button {
  margin-left: 10px;
}

/* EntryList styles */
.entry-item-container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.entry-item-container .tag-container {
  margin-top: 15px;
}

.tag-container .entry-tag {
  border: 1px solid black;
  margin: 5px;
  padding: 2px 4px;
}